.navList {
  position: fixed;
  z-index: 100;
  left: 17px;
  top: 50%;
  transform: translateY(-50%);
}

.navList li {
  width: 10px;
  height: 10px;
  margin: 25px auto;
}

.navList li a {
  display: block;
  width: 50%;
  height: 50%;
  margin: auto;
  background-color: #c7000b;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.1s;
  transform-origin: center center;
}

.navList li:hover a {
  width: 40%;
  height: 40%;
}

.navList .active {
  width: 100% !important;
  height: 100% !important;
  background-color: transparent;
  border: 1px solid #c7000b;
}
